@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo\(1\).ttf);
}

@font-face {
    font-family: rejouice;
    src: url(./Rejouice-Headline\(1\).ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}


    html,body{
        height: 100vh;
        width: 100vw;
        }


        .main{
            height: 100%;
            width: 100%;
        }

    .cursor{
        height: 7.5vw;
        width: 7.5vw;
        background-color: #000000bc;
        position: fixed;
        z-index: 9;
        color:white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform:translate(-50%,-50%) ;
    }

    .cursor h5{
        font-size: 1.1vw;
        font-weight: 400;
    }

    .page-1{

        height: 100vh;
        width: 100vw;
        background-color: #dadada;

        }

    .page-1 video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
    }

    .page1-content{
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 10;
        color: #fff;
        display:flex ;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

     nav{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3vw 3vw;
    } 

    nav h3{
        font-size: 1.4vw;
        font-weight: 100;
    }

    .page-1 h1{
        font-family: rejouice;
        font-size: 27vw;
        font-weight: 200;
        line-height: 27vw;
    }

    .page-1 h1 span{
        font-family: rejouice;
        font-size: 27vw;
        font-weight: 200;
        line-height: 27vw;
        display: inline-block;

    }

    .page-2{
        height: 100vh;
        width: 100vw;
        background-color: #fff;
        
    }

    .page-2 p{

        font-family: rejouice;
        font-weight: 500;
        font-size: 4vw;
        padding: 0.2vw 8vw;
    } 

    .para{
        padding: 5.5vw;
        border: 2px solid black ;
    }

    .nav-2{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 4vw 3vw;
        border: 1px solid black;
    }

    .page3{
        min-height: 100vh;
        width: 100vw;
        background-color:#fff;
        position: relative;
        padding: 3vw;
    }

    .page3-top{
        text-align: center;
    }

    .page3-top h4{
        margin-bottom: 1vw;
        font-size: 1vw;
        font-weight: 500;
    }

    .page3-top h4 span{
        font-size: 4vw;
        background-color: rgb(252, 251, 251);
        color: black;
        padding: 5px 8px;
        border-radius: 7px;
        }

    .page3-top h2{
        font-size: 4vw;
        font-weight: 500;
    }

    .page3-elements{
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15vw;

    }

    .page3-elements .box{
        height: 100%;
        width: 32.5%;
        position: relative;
    }

    .page3-elements .box video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .page3-elements .box img{
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        transition: all ease 1s;
        object-position: center;
    } 

    .page3-elements .box:hover img{
        opacity: 0;
    }

    .page4{
        height: 100vh;
        width: 100vw;
        background-color:#f4f3f3;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15vw;
    }

    .page4 video{
        height: 100%;
    }

    .page4 svg{
        position: absolute;
        height: 65%;
    }

    .page5{
        height: 100vh;
        width: 100vw;
        position: relative;
        padding: 4vw 2vw;

    }

    .page5 h1{
        font-size: 10vw;
        font-family: rejouice;
        font-weight: 100;
        border-bottom-style: 1px solid #000000;
        width: 96%;
        margin-left: 2%;   
    }

    .swiperdiv{
        height: 60vh;
        width: 100vw;
        position: relative;
        margin-top: -5%;
        overflow: hidden;
    }

    .swiper {
        width: 150%;
        height: 100%;
      }
  
      .swiper-slide {
        height: 100%;
        width: 400px ;
        text-align: center;
        font-size: 18px;
        background: transparent;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
      }
  
      .swiper-slide img {
        display: block;
        width: 18%;
        object-fit: cover;
      }
  
      
      .swiper img{
        width: 20%;
        display: block;
        object-fit: cover;
        border: 0.5vw solid white;
      }

      .loader{
        height: 100%;
        width: 100%;
        position: fixed;
        background-color:  black;
        top:0;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 10px;
      }

      .loader h3{
        font-size: 2vw;
      }

      .page6{
        height: 50vh;
        width: 100vw;
        background-color: black;
        color: white;
        padding: 1vw;
      }

      .page6 .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .page6 p{
        font-size: 2vw;
        padding: 1vw;
      }

      .page6 .nav-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px;
      }

      .page6 .nav-2 p{
        font-size: 15px;
        padding: 10px 110px;
      }

      .page7 {
        height: 90vh;
        width: 100vw;
        background-color: black;
        color: white;
        padding: 1vw;
        display: flex;
        justify-content: center;
        /* align-items:center; */
        
        }
    
    .page7 span {
        font-size:17vw;
        background-color: black;
        color: white;
        font-family: rejouice;
        padding: 0; 
        margin: 0; 
        display: inline-block;
    }
    
    